---
// Libraries
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';

// Components
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';

// Logo Images
import Gatsby from '../../public/logos/gatsby-logo.png';
import Figma from '../../public/logos/logo-figma.svg';
import React from '../../public/logos/logo-react.svg';
import Contentful from '../../public/logos/logo-contentful.svg';
import AstroLogo from '../../public/logos/astro-logo.svg?raw';
import Vercel from '../../public/logos/logo-vercel.svg?raw';

const metadata = {
  title: 'Juan José Peralta',
};

const indiciusUrl =
  '<a href="https://indicius.com" target="_blank" rel="noopener noreferrer" class="indi-link">Indicius</a>';

const liteBox = `<a href="https://litebox.io" target="_blank" rel="noopener noreferrer" class="indi-link">LiteBox</a>`;
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Tech', href: '#tech' },
        { text: 'Portfolio', href: '#portfolio' },
      ]}
      actions={[
        {
          text: "Let's Talk",
          href: 'https://cal.com/juanso',
        },
        {
          text: 'Download CV',
          href: '/public/cv/Juan_José_Peralta_-_-3.pdf',
          download: 'download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  <Hero
    id="hero"
    title="Juan José Peralta"
    tagline="Frontend Engineer"
    actions={[{ variant: 'primary', target: '_blank', text: "Let's Talk", href: 'https://cal.com/juanso' }]}
  >
    <Fragment slot="subtitle">
      A former Tennis professor and player turned Frontend Engineer with four years of industry expertise, I've
      seamlessly transitioned my passion for precision and performance from the tennis court to crafting exceptional
      digital experiences at a high-end agency from Argentina, combining my unique background with technical prowess to
      elevate web development to new heights.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/juanjose-peralta/',
        },
      },
      {
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: 'WhatsApp',
          href: 'https://wa.me/+542215589354',
        },
      },
      {
        icon: 'tabler:brand-telegram',
        callToAction: {
          target: '_blank',
          text: 'Telegram',
          href: 'https://t.me/+542215589354',
        },
      },
    ]}
    image={{
      src: '/images/juanso-cv-photo-1.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my software development odyssey. My projects stand as a testament to my dedication to transforming
        concepts into functional realities, where every line of code shapes the canvas of innovation.<br /><br /> I draw
        inspiration from the dynamic realm of software, whether it's the intricacies of user experience design, the
        elegant flow of well-architected code, or the vibrant solutions inspired by the challenges encountered during my
        development journey.
        <br /><br />If you're eager to delve further into my software endeavors, you can connect with me:
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Frontend Engineer <br /> <span class="font-normal">Neoris an Epam Company, Buenos Aires, Argentina </span> <br /> <span class="text-sm font-normal">2024 - Present</span>',
        description: `• As a Frontend Engineer at Neoris an Epam Company since October 2024, I've been the creative force behind translating design concepts into vibrant and functional digital experiences.<br/><br/>
        • I played a key role in ensuring our products are not only visually appealing but also user-friendly, accessible, scalable, and high-performing.<br/><br/>
        • Collaborated closely with the Backend team.<br/><br/>
        • Effective communication is at the core of my role—I've been proactive in updating all stakeholders on project-related situations, whether positive or negative, using tools like GitLab and Jira<br/><br/>
        • Adhered rigorously to development guidelines, contributing to the establishment of high standards for all company projects.<br/><br/>
        • Meticulously documented every aspect of the development process, ensuring a clear and comprehensive understanding of the tools involved for ef:cient project management.<br/><br/>
        <span>Tech Stack: React, TypeScript, Java</span>`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Frontend Developer <br /> <span class="font-normal">Indicius, Buenos Aires, Argentina </span> <br /> <span class="text-sm font-normal">2020 - 2023</span>',
        description: `• As a Frontend Developer at Indicius since 2020, I've been the creative force behind translating design concepts into vibrant and functional digital experiences.<br/><br/>
        • I played a key role in ensuring our products are not only visually appealing but also user-friendly, accessible, scalable, and high-performing.<br/><br/>
        • Collaborated closely with the Design team to validate and implement their creative ideas seamlessly into the development process.<br/><br/>
        • Effective communication is at the core of my role—I've been proactive in updating all stakeholders on project-related situations, whether positive or negative, using tools like GitLab and Trello<br/><br/>
        • Adhered rigorously to development guidelines, contributing to the establishment of high standards for all company projects.<br/><br/>
        • Meticulously documented every aspect of the development process, ensuring a clear and comprehensive understanding of the tools involved for ef:cient project management.<br/><br/>
        <span>Tech Stack: React, TypeScript, GraphQL, Gatsby, Figma, Contentful</span>`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Freelance Frontend Developer <br /> <span class="font-normal">Remote, Buenos Aires, Argentina </span> <br /> <span class="text-sm font-normal">2018 - Present</span>',
        description: `• As a Freelance Frontend Developer collaborating with a dynamic team of two designers and one fellow developer since 2018, I have been the driving force behind transforming design concepts into engaging and functional digital experiences.<br></br>
        • Played a pivotal role in ensuring that the products I've worked on are not just visually appealing but also prioritize user-friendliness, accessibility, scalability, and high performance.<br></br>
        • Fostered close collaboration with the Design team, seamlessly integrating and implementing their creative ideas into the development process.<br></br>
        • Communication excellence is integral to my role—I proactively keep all stakeholders updated on project-related developments, leveraging tools such as GitLab and Trello.<br></br>
        • Maintained a rigorous adherence to development guidelines, actively contributing to the establishment of elevated standards for all projects.<br></br>
        • Comprehensive documentation of every facet of the development process, ensuring a clear understanding of the tools involved for efficient project management.<br></br>
        <span>Tech Stack: React, TypeScript, GraphQL, Gatsby, Figma, Contentful</span>`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'QA Analyst <br /> <span class="font-normal">Pixel2HTML, Remote</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>',
        description: `• Spearheaded comprehensive manual and automated testing initiatives as a QA Engineer at Pixel2HTML, ensuring the timely delivery of Vawless front-end development projects.<br/><br/>
        • Thrived in a fully remote work environment, collaborating seamlessly with teams across different time Oones to maintain eficient communication and work.<br/><br/>
        • Validated design concepts rigorously, guaranteeing the feasibility of proposed ideas for swift and seamless development, contributing to on-time project completion.<br/><br/>
        • Developed and executed detailed test plans, utilizing both manual and automated testing methodologies to identify and rectify any bugs or inconsistencies in the frontend code, enhancing overall project quality and user experience.<br/><br/>
        Tech Stack: Jest, React Testing Library, Gitlab`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Fullstack Engineer Bootcamp, Soy Henry<br /> <span class="font-normal">Remote</span> <br /> <span class="text-sm font-normal">2019 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Analista Programador<br /> <span class="font-normal">Universidad Nacional de La Plata</span> <br /> <span class="text-sm font-normal">2016 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Multitasking Skills',
        description:
          'Mastering the art of juggling tasks seamlessly, ensuring efficient and simultaneous handling of multiple projects for a harmonious workflow.',
      },
      {
        title: 'Time Management Skills',
        description:
          'Meticulously organizing and optimizing time resources, guaranteeing timely delivery of high-quality frontend solutions in a dynamic development environment.',
      },
      {
        title: 'Strong Communication Skills',
        description:
          'Facilitating smooth collaboration through clear and effective communication, ensuring a shared understanding of complex frontend concepts and fostering team synergy.',
      },
      {
        title: 'Problem Solving Skills',
        description:
          'Thriving in the challenge of identifying and resolving intricate frontend issues, employing creative solutions to deliver optimal user experiences.',
      },
      {
        title: 'Innovative Design Thinking',
        description:
          'Infusing creativity into frontend development, crafting innovative and visually appealing user interfaces that elevate the overall digital experience.',
      },
      {
        title: 'Responsive Web Development:',
        description:
          'Specializing in the creation of responsive and adaptive websites, ensuring a seamless user experience across various devices and screen sizes.',
      },
    ]}
  />

  <!-- Tech Start -->
  <Features3 title="Tech" subtitle="The newest technological tools in my arsenal." id="tech" />
  <div
    class="grid grid-cols-2 gap-20 justify-center px-8 lg:flex lg:flex-row lg:justify-around lg:gap-0 mb-20 lg:mb-40"
  >
    <div class="flex justify-center">
      <Fragment set:html={Vercel} />
    </div>
    <div class="flex justify-center">
      <Image src={Gatsby} alt="" height={90} />
    </div>
    <div class="flex justify-center">
      <Fragment set:html={AstroLogo} />
    </div>
    <div class="flex justify-center">
      <Image src={React} alt="" width={90} />
    </div>
    <div class="flex justify-center">
      <Image src={Contentful} alt="" width={90} />
    </div>
    <div class="flex justify-center">
      <Image src={Figma} alt="" width={90} />
    </div>
  </div>
  <!-- Tech End -->

  <!-- Content Widget Project 1 START **************** -->

  <Content
    isReversed
    id="portfolio"
    title="Explore my portfolio"
    subtitle="Embark on a development journey that transcends lines of code, delving into a world of innovation. Explore my portfolio, where passion and creativity converge to shape captivating software experiences."
    isAfterContent={false}
    items={[
      {
        title: 'Description:',
        description: `Under the umbrella of a freelance engagement, I immersed myself in a challenging project presented by ${liteBox} as part of their rigorous application process for the Software Engineer role. Leveraging my expertise in Next.js, Node.js, Drizzle, and Chakra UI`,
      },
      {
        title: 'Role:',
        description: "I assumed full responsibility for every aspect of the project's development.",
      },
    ]}
    image={{
      src: '/images/liteflix-graph.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://liteflix-next-azure.vercel.app/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Liteflix <br /><span class="text-2xl">Development</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Freelance project 1 START -->
  <Content
    isAfterContent={true}
    isReversed
    items={[
      {
        title: 'Description:',
        description: `As a Frontend Freelance developer, recently, I had the incredible opportunity to collaborate with a talented team of designers to give a new identity to the website of a renowned plastic surgery clinic. It was an exciting project that allowed us to implement advanced technologies such as Gatsby, React, HTML, SASS, and Node.`,
      },
      {
        title: 'Role:',
        description:
          'I actively participated in the comprehensive development of the project, collaborating closely with the design team.',
      },
    ]}
    image={{
      src: '/images/open-graph-milito.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://clinicamilito.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Clinica Milito <br /><span class="text-2xl">Brand - Website - Development</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Freelance project 1 END -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Within my role at ${indiciusUrl}, I played a pivotal part in orchestrating a thorough rebranding endeavor. Leveraging avant-garde technologies, we meticulously crafted a sophisticated and approachable image that appealed to corporate stakeholders and tech enthusiasts.`,
      },
      {
        title: 'Role:',
        description:
          'I actively participated in the comprehensive development of the project, collaborating closely with the design team.',
      },
    ]}
    image={{
      src: '/images/open-graph-hathora.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://hathora.dev',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Hathora <br /><span class="text-2xl">Brand - Website - Development</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget Project 1 END **************** -->

  <!-- Content Widget Project 2 START **************** -->
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Within my role at ${indiciusUrl}, I played a pivotal part in orchestrating a thorough rebranding endeavor. Leveraging avant-garde technologies, we meticulously crafted a sophisticated and approachable image that appealed to corporate stakeholders and tech enthusiasts.`,
      },
      {
        title: 'Role:',
        description:
          'I actively participated in the comprehensive development of the project, collaborating closely with the design team.',
      },
    ]}
    image={{
      src: '/images/open-graph-og.png',
      alt: 'Operators Guild',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://operators-guild.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Operators Guild <br /><span class="text-2xl">Brand - Website - Development</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget Project 2 END **************** -->

  <!-- Content Widget Project 3 START **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Within my role at ${indiciusUrl}, I played a pivotal part in orchestrating a thorough rebranding endeavor. Leveraging avant-garde technologies, we meticulously crafted a sophisticated and approachable image that appealed to corporate stakeholders and tech enthusiasts.`,
      },
      {
        title: 'Role:',
        description:
          'I actively participated in the comprehensive development of the project, collaborating closely with the design team.',
      },
    ]}
    image={{
      src: '/images/open-graph-arena.png',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://arenaanalytics.io',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Arena Analytics <br /><span class="text-2xl">Brand - New Marketing Website</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget Project 3 END **************** -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into an amazing online experience?"
    actions={[
      {
        variant: 'primary',
        text: "Let's Talk",
        href: 'https://cal.com/juanso',
      },
      {
        variant: 'primary',
        text: 'Download CV',
        href: '/public/cv/Juan_José_Peralta_-_-3.pdf',
        download: 'download',
      },
    ]}
  />
</Layout>
